:root {
	--background-color-light-gray: #eeeeee;
	--background-color-gray: #dddddd;
	--font-color-gray: #aaaaaa;
	--font-color-dark-gray: #888888;

	--font-sans-light: 'sans_light';
	--font-sans-regular: 'sans_regular';
	--font-sans-bold: 'sans_bold';
}

* {
	box-sizing: border-box;
	font-family: var(--font-sans-regular);
}

*::-webkit-scrollbar {
	display: none;
}

body {
	margin: auto;
	width: 100%;
	min-height: 100vh;
	max-width: 1920px;
	border: 1px solid #dddddd;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	cursor: pointer;
}

.a11y-hidden {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
}

@font-face {
	font-family: 'sans_light';
	src: url('./assets/fonts/OpenSans/OpenSans-Light.woff2') format('woff2'),
		url('./assets/fonts/OpenSans/OpenSans-Light.woff') format('woff'),
		url('./assets/fonts/OpenSans/OpenSans-Light.ttf') format('ttf');
	font-display: fallback;
}

@font-face {
	font-family: 'sans_regular';
	src: url('./assets/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
		url('./assets/fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
		url('./assets/fonts/OpenSans/OpenSans-Regular.ttf') format('ttf');
	font-display: fallback;
}

@font-face {
	font-family: 'sans_bold';
	src: url('./assets/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
		url('./assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
		url('./assets/fonts/OpenSans/OpenSans-Bold.ttf') format('ttf');
	font-display: fallback;
}
